body {
  font-size: .875rem;
}

:root {
  --gradient-red: linear-gradient(107deg,#A82415 17%,#DB301D 112%);
  --gradient-green: linear-gradient(107deg,#2F5C39 17%,#2EDB54 112%);
  --gradient-blue: linear-gradient(107deg,#003e60 17%,#2dd7ff 112%);
  --gradient-yallow: linear-gradient(107deg,#FABD0C 17%,#F5ED18 112%);
  /* --gradient-blue: linear-gradient(107deg,#2db5ff 17%,#2dd7ff 112%); */
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: transparent;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 40px;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .2);
  border-color: rgba(255, 255, 255, .2);
}

button:focus,
a:focus,
.form-control-dark:focus {
  border-color: transparent;
  box-shadow: none;
  outline: none;
}

.button-custom {
  line-height: 48px;
  height: 48px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 40px;
  -webkit-transition: ease-out .2s;
  -o-transition: ease-out .2s;
  transition: ease-out .2s;
}

.button-custom-red {
  background: #DB301D;
  background-image: var(--gradient-red);
}

.button-custom-green {
  background: #2EDB54;
  background-image: var(--gradient-green);
}

.button-custom-blue {
  background: #2db5ff;
  background-image: var(--gradient-blue);
}

.button-custom-yallow {
  background: #E3E31E;
  background-image: var(--gradient-yallow);
}

.button-custom-red:hover,
.button-custom-green:hover,
.button-custom-blue:hover {
  color: #fff;
  text-decoration: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}


.bg-header-custom {
  background: #2db5ff;
  background-image: var(--gradient-blue);
}