{% extends "templates/admin.html" %}

{% block CONTENT %}
    <div id="formTasks">
        <div class="container">
            <div class="row">
                <div class="col-12 my-5 border-bottom">
                    <div class="float-left">
                        <h1>Lista de afazeres</h1>
                    </div>
                    <div class="float-right">
                        <button class="button-custom button-custom-yallow" v-on:click="window.history.go(-1)">
                            <i class="fa fa-arrow-left mr-1" aria-hidden="true"></i> VOLTAR
                        </button>
                        {% if action == "edit" %}
                            <button class="button-custom button-custom-blue ml-2" v-on:click="newTask">
                                <i class="fa fa-plus mr-1" aria-hidden="true"></i> NOVO
                            </button>
                        {% endif %}
                    </div>
                </div>

                <div class="col-12 mb-4">
                    <form action="{{base_url}}admin/task/{{ action }}" name="frmTask" id="frmTask" method="post" v-on:submit.prevent>
                        {% if (action == 'edit') %}
                            <input type="hidden" name="id" id="id" value="{{ data.id ?? '' }}">
                        {% endif %}

                        <div class="form-group row">
                            <label for="event" class="col-sm-2 col-form-label font-weight-bold">Evento</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="event" name="event" value="{{ data.event ?? '' }}" autocomplete="off" placeholder="Digite nome do evento.">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-sm-2 col-form-label font-weight-bold">Descrição</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="description" name="description" value="{{ data.description ?? '' }}" autocomplete="off" placeholder="Digite uma breve descrição do evento.">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="start_date" class="col-2 col-form-label font-weight-bold">Data/Hora de início</label>
                            <div class="col-5">
                                <input type="date" class="form-control" id="start_date" name="start_date" value="{{ data.start_date ?? '' }}" autocomplete="off" placeholder="00/00/0000">
                            </div>
                            <div class="col-5">
                                <input type="time" class="form-control" id="start_time" name="start_time" value="{{ data.start_time ?? '' }}" autocomplete="off" placeholder="00:00">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="closing_date" class="col-2 col-form-label font-weight-bold">Data/Hora de encerramento</label>
                            <div class="col-5">
                                <input type="date" class="form-control" id="closing_date" name="closing_date" value="{{ data.closing_date ?? '' }}" autocomplete="off" placeholder="00/00/0000">
                            </div>
                            <div class="col-5">
                                <input type="time" class="form-control" id="closing_time" name="closing_time" value="{{ data.closing_time ?? '' }}" autocomplete="off" placeholder="00:00">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="event" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                            {% if action == "register" %}
                                <button type="submit" class="button-custom button-custom-blue" v-on:click="sendForm($event)">
                                    <i class="fa fa-paper-plane mr-1" aria-hidden="true"></i> SALVAR
                                </button>
                            {% endif %}

                            {% if action == "edit" %}
                                <button type="submit" class="button-custom button-custom-green" v-on:click="sendForm($event)">
                                    <i class="fa fa-pencil mr-1" aria-hidden="true"></i> EDITAR
                                </button>
                            {% endif %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block SCRIPT %}
<script>
    let app = new Vue({
        el: "#formTasks",
        data: {},
        methods: {
            sendForm(event) 
            {
                let action = event.path[3].action
                let separetor = action.split("/")
                let form = new FormData(event.target.form)
                let request = fetch(action, { method: 'POST', body: form})
                
                setTimeout(() => {
                    request
                        .then(response => response.json())
                        .then(data => {
                            if (typeof data.error !== 'undefined') {
                                swal("Oooops!", data.error, "error")
                                return;
                            }
                            swal({
                                title: data.success,
                                text: " ",
                                icon: "success",
                                buttons: false
                            })
                            setTimeout(() => {
                                window.location.href = ((separetor[separetor.length-1] == "register") ? "../" : "../../") + "tasks"
                            }, 3000);
                        })
                        .catch(err => console.error(err))
                }, 100);
            },
            newTask()
            {
                window.location.href = "task/new"
            }
        }
    })
</script>
{% endblock %}
