{% extends "templates/credentials.html" %}

{% block CONTENT %}
    <div id="site">
        <form class="form-signin" id="frmSingIn" name="frmSingIn" method="post" v-on:submit.prevent>
            <h1 class="h3 mb-4 font-weight-normal text-center">Login</h1>

            <label for="address_email" class="sr-only">E-mail</label>
            <input type="email" id="address_email" name="address_email" value="" class="form-control" placeholder="E-mail" required autofocus autocomplete="off">
            
            <label for="password" class="sr-only">Senha</label>
            <input type="password" id="password" name="password" value="" class="form-control" placeholder="Senha" required autocomplete="off">
            
            <div class="text-left">
                <small class="mr-2">Você é novo por aqui? <a href="{{base_url}}signup">Cadastre-se</a></small>
            </div>

            <button type="submit" class="button-custom-blue w-100 mt-3" v-on:click="userAuthentication($event)">
                <i class="fa fa-paper-plane mr-1" aria-hidden="true"></i> ENTRAR
            </button>            
        </form>
    </div>
{% endblock %}

{% block SCRIPT %}
    <script>
        const url_base = "http://localhost/teste/to-do-list/"

        let app = new Vue({
            el: "#site",
            data: {},
            methods: {
                userAuthentication(event) {

                    let form = new FormData(event.target.form)
                    let authenticate = fetch("authenticate", { method: 'POST', body: form})

                    setTimeout(() => {
                        authenticate
                            .then(response => response.json())
                            .then(data => {
                                if (typeof data.error !== 'undefined') {
                                    alert(data.error)
                                    return;
                                }
                                window.location.href = `${url_base}admin`
                            })
                            .catch(err => console.error(err))
                    }, 500);
                }
            }
        })
    </script>
{% endblock %}